body {
    background-color: #D5F1A3;
    background-size: auto 100vh;
      font-family: Arial; 
    height: 100vh;
  }
  
  .menu {
    background-color: #FE502B;
  }
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  .menu li {
    list-style: none;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .site-title,
  .site-subtitle {
    color: #84B926;
    text-align: center;
  }
  
  .site-title{
    display: table; /* keep the background color wrapped tight */
    margin: 0px auto 0px auto; /* keep the table centered */
    padding:5px;font-size:45px;background-color:#8AD10C;color:#ffffff;
  }